/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "https://fonts.googleapis.com/css?family=Lato:400,900";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

/* colors */
/* Font weights */
/* Fonts */
/* Headings */
.post-container .post-image-container img, .sidebar-book {
  width: 100%;
  height: auto;
}

.m-reset-font-color, p, .popular-posts .item-title > a, .sidebar ul li a {
  color: #333;
}

.m-detail-background, span.nt.fa-search, .pure-menu-active > .pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus, .lang_selector.selected, .sidebar .widget-title > h2 {
  background-color: #ff3030 !important;
}

.m-max-width, .menu-wrapper, .footer-container, .main-container {
  max-width: 1200px;
}

.m-centered, .menu-wrapper, .footer-container {
  margin: 0 auto;
  display: block;
}

.m-uppercase, .pure-menu-link, .pure-menu-item .fa, h1, .sidebar .widget-title > h2, .popular-posts .item-content, .widget.currently-reading .book-title, .footer-container h2 {
  text-transform: uppercase;
}

.m-text-centered, .widget.currently-reading p {
  text-align: center;
}

.m-bold, .widget.currently-reading .book-title {
  font-weight: 600;
}

/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
/*!
normalize.css v^3.0 | MIT License | git.io/normalize
Copyright (c) Nicolas Gallagher and Jonathan Neal
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*csslint important:false*/
/* ==========================================================================
   Pure Base Extras
   ========================================================================== */
/**
 * Extra rules that Pure adds on top of Normalize.css
 */
/**
 * Always hide an element when it has the `hidden` HTML attribute.
 */
.hidden,
[hidden] {
  display: none !important;
}

/**
 * Add this class to an image to make it fit within it's fluid parent wrapper while maintaining
 * aspect ratio.
 */
.pure-img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*csslint regex-selectors:false, known-properties:false, duplicate-properties:false*/
.pure-g {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */
    /*
    Sets the font stack to fonts known to work properly with the above letter
    and word spacings. See: https://github.com/yahoo/pure/issues/41/

    The following font stack makes Pure Grids work on all known environments.

    * FreeSans: Ships with many Linux distros, including Ubuntu

    * Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
      Arial to get picked up by the browser, even though neither is available
      in Chrome OS.

    * Droid Sans: Ships with all versions of Android.

    * Helvetica, Arial, sans-serif: Common font stack on OS X and Windows.
    */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    /*
    Use flexbox when possible to avoid `letter-spacing` side-effects.

    NOTE: Firefox (as of 25) does not currently support flex-wrap, so the
    `-moz-` prefix version is omitted.
    */
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  /* IE10 uses display: flexbox */
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  /* Prevents distributing space between rows */
  -ms-align-content: flex-start;
  align-content: flex-start;
}

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -0.43em;
}

.pure-u {
  display: inline-block;
  *display: inline;
  /* IE < 8: fake inline-block */
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

/*
Resets the font family back to the OS/browser's default sans-serif font,
this the same font stack that Normalize.css sets for the `body`.
*/
.pure-g [class*="pure-u"] {
  font-family: sans-serif;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-5,
.pure-u-2-5,
.pure-u-3-5,
.pure-u-4-5,
.pure-u-5-5,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-8,
.pure-u-3-8,
.pure-u-5-8,
.pure-u-7-8,
.pure-u-1-12,
.pure-u-5-12,
.pure-u-7-12,
.pure-u-11-12,
.pure-u-1-24,
.pure-u-2-24,
.pure-u-3-24,
.pure-u-4-24,
.pure-u-5-24,
.pure-u-6-24,
.pure-u-7-24,
.pure-u-8-24,
.pure-u-9-24,
.pure-u-10-24,
.pure-u-11-24,
.pure-u-12-24,
.pure-u-13-24,
.pure-u-14-24,
.pure-u-15-24,
.pure-u-16-24,
.pure-u-17-24,
.pure-u-18-24,
.pure-u-19-24,
.pure-u-20-24,
.pure-u-21-24,
.pure-u-22-24,
.pure-u-23-24,
.pure-u-24-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-u-1-24 {
  width: 4.1667%;
  *width: 4.1357%;
}

.pure-u-1-12,
.pure-u-2-24 {
  width: 8.3333%;
  *width: 8.3023%;
}

.pure-u-1-8,
.pure-u-3-24 {
  width: 12.5000%;
  *width: 12.4690%;
}

.pure-u-1-6,
.pure-u-4-24 {
  width: 16.6667%;
  *width: 16.6357%;
}

.pure-u-1-5 {
  width: 20%;
  *width: 19.9690%;
}

.pure-u-5-24 {
  width: 20.8333%;
  *width: 20.8023%;
}

.pure-u-1-4,
.pure-u-6-24 {
  width: 25%;
  *width: 24.9690%;
}

.pure-u-7-24 {
  width: 29.1667%;
  *width: 29.1357%;
}

.pure-u-1-3,
.pure-u-8-24 {
  width: 33.3333%;
  *width: 33.3023%;
}

.pure-u-3-8,
.pure-u-9-24 {
  width: 37.5000%;
  *width: 37.4690%;
}

.pure-u-2-5 {
  width: 40%;
  *width: 39.9690%;
}

.pure-u-5-12,
.pure-u-10-24 {
  width: 41.6667%;
  *width: 41.6357%;
}

.pure-u-11-24 {
  width: 45.8333%;
  *width: 45.8023%;
}

.pure-u-1-2,
.pure-u-12-24 {
  width: 50%;
  *width: 49.9690%;
}

.pure-u-13-24 {
  width: 54.1667%;
  *width: 54.1357%;
}

.pure-u-7-12,
.pure-u-14-24 {
  width: 58.3333%;
  *width: 58.3023%;
}

.pure-u-3-5 {
  width: 60%;
  *width: 59.9690%;
}

.pure-u-5-8,
.pure-u-15-24 {
  width: 62.5000%;
  *width: 62.4690%;
}

.pure-u-2-3,
.pure-u-16-24 {
  width: 66.6667%;
  *width: 66.6357%;
}

.pure-u-17-24 {
  width: 70.8333%;
  *width: 70.8023%;
}

.pure-u-3-4,
.pure-u-18-24 {
  width: 75%;
  *width: 74.9690%;
}

.pure-u-19-24 {
  width: 79.1667%;
  *width: 79.1357%;
}

.pure-u-4-5 {
  width: 80%;
  *width: 79.9690%;
}

.pure-u-5-6,
.pure-u-20-24 {
  width: 83.3333%;
  *width: 83.3023%;
}

.pure-u-7-8,
.pure-u-21-24 {
  width: 87.5000%;
  *width: 87.4690%;
}

.pure-u-11-12,
.pure-u-22-24 {
  width: 91.6667%;
  *width: 91.6357%;
}

.pure-u-23-24 {
  width: 95.8333%;
  *width: 95.8023%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-5-5,
.pure-u-24-24 {
  width: 100%;
}

.pure-button {
  /* Structure */
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*csslint outline-none:false*/
.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.8);
  /* rgba supported */
  border: 1px solid #999;
  /*IE 6/7/8*/
  border: none transparent;
  /*IE9 + everything else*/
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.pure-button:focus {
  outline: 0;
}

.pure-button-active,
.pure-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000 \9;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
  border: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=40);
  -khtml-opacity: 0.40;
  -moz-opacity: 0.40;
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none;
}

.pure-button-hidden {
  display: none;
}

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
  background-color: #0078e7;
  color: #fff;
}

/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/
.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.pure-form input[type="color"] {
  padding: 0.2em 0.5em;
}

.pure-form input[type="text"]:focus,
.pure-form input[type="password"]:focus,
.pure-form input[type="email"]:focus,
.pure-form input[type="url"]:focus,
.pure-form input[type="date"]:focus,
.pure-form input[type="month"]:focus,
.pure-form input[type="time"]:focus,
.pure-form input[type="datetime"]:focus,
.pure-form input[type="datetime-local"]:focus,
.pure-form input[type="week"]:focus,
.pure-form input[type="number"]:focus,
.pure-form input[type="search"]:focus,
.pure-form input[type="tel"]:focus,
.pure-form input[type="color"]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
  outline: 0;
  border-color: #129FEA;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]):focus {
  outline: 0;
  border-color: #129FEA;
}

.pure-form input[type="file"]:focus,
.pure-form input[type="radio"]:focus,
.pure-form input[type="checkbox"]:focus {
  outline: thin solid #129FEA;
  outline: 1px auto #129FEA;
}

.pure-form .pure-checkbox,
.pure-form .pure-radio {
  margin: 0.5em 0;
  display: block;
}

.pure-form input[type="text"][disabled],
.pure-form input[type="password"][disabled],
.pure-form input[type="email"][disabled],
.pure-form input[type="url"][disabled],
.pure-form input[type="date"][disabled],
.pure-form input[type="month"][disabled],
.pure-form input[type="time"][disabled],
.pure-form input[type="datetime"][disabled],
.pure-form input[type="datetime-local"][disabled],
.pure-form input[type="week"][disabled],
.pure-form input[type="number"][disabled],
.pure-form input[type="search"][disabled],
.pure-form input[type="tel"][disabled],
.pure-form input[type="color"][disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
  background-color: #eee;
  /* menu hover bg color */
  color: #777;
  /* menu text color */
  border-color: #ccc;
}

.pure-form input:focus:invalid,
.pure-form textarea:focus:invalid,
.pure-form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}

.pure-form input[type="file"]:focus:invalid:focus,
.pure-form input[type="radio"]:focus:invalid:focus,
.pure-form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}

.pure-form select {
  /* Normalizes the height; padding is not sufficient. */
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: white;
}

.pure-form select[multiple] {
  height: auto;
}

.pure-form label {
  margin: 0.5em 0 0.2em;
}

.pure-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}

.pure-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.pure-form-stacked input[type="text"],
.pure-form-stacked input[type="password"],
.pure-form-stacked input[type="email"],
.pure-form-stacked input[type="url"],
.pure-form-stacked input[type="date"],
.pure-form-stacked input[type="month"],
.pure-form-stacked input[type="time"],
.pure-form-stacked input[type="datetime"],
.pure-form-stacked input[type="datetime-local"],
.pure-form-stacked input[type="week"],
.pure-form-stacked input[type="number"],
.pure-form-stacked input[type="search"],
.pure-form-stacked input[type="tel"],
.pure-form-stacked input[type="color"],
.pure-form-stacked input[type="file"],
.pure-form-stacked select,
.pure-form-stacked label,
.pure-form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}

.pure-form-aligned input,
.pure-form-aligned textarea,
.pure-form-aligned select,
.pure-form-aligned .pure-help-inline,
.pure-form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

.pure-form-aligned textarea {
  vertical-align: top;
}

/* Aligned Forms */
.pure-form-aligned .pure-control-group {
  margin-bottom: 0.5em;
}

.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}

.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 11em;
}

/* Rounded Inputs */
.pure-form input.pure-input-rounded,
.pure-form .pure-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}

/* Grouped Inputs */
.pure-form .pure-group fieldset {
  margin-bottom: 10px;
}

.pure-form .pure-group input,
.pure-form .pure-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}

.pure-form .pure-group input:focus,
.pure-form .pure-group textarea:focus {
  z-index: 3;
}

.pure-form .pure-group input:first-child,
.pure-form .pure-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.pure-form .pure-group input:first-child:last-child,
.pure-form .pure-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}

.pure-form .pure-group input:last-child,
.pure-form .pure-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}

.pure-form .pure-group button {
  margin: 0.35em 0;
}

.pure-form .pure-input-1 {
  width: 100%;
}

.pure-form .pure-input-2-3 {
  width: 66%;
}

.pure-form .pure-input-1-2 {
  width: 50%;
}

.pure-form .pure-input-1-3 {
  width: 33%;
}

.pure-form .pure-input-1-4 {
  width: 25%;
}

/* Inline help for forms */
/* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
.pure-form .pure-help-inline,
.pure-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}

/* Block help for forms */
.pure-form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}

@media only screen and (max-width: 480px) {
  .pure-form button[type="submit"] {
    margin: 0.7em 0 0;
  }

  .pure-form input:not([type]),
  .pure-form input[type="text"],
  .pure-form input[type="password"],
  .pure-form input[type="email"],
  .pure-form input[type="url"],
  .pure-form input[type="date"],
  .pure-form input[type="month"],
  .pure-form input[type="time"],
  .pure-form input[type="datetime"],
  .pure-form input[type="datetime-local"],
  .pure-form input[type="week"],
  .pure-form input[type="number"],
  .pure-form input[type="search"],
  .pure-form input[type="tel"],
  .pure-form input[type="color"],
  .pure-form label {
    margin-bottom: 0.3em;
    display: block;
  }

  .pure-group input:not([type]),
  .pure-group input[type="text"],
  .pure-group input[type="password"],
  .pure-group input[type="email"],
  .pure-group input[type="url"],
  .pure-group input[type="date"],
  .pure-group input[type="month"],
  .pure-group input[type="time"],
  .pure-group input[type="datetime"],
  .pure-group input[type="datetime-local"],
  .pure-group input[type="week"],
  .pure-group input[type="number"],
  .pure-group input[type="search"],
  .pure-group input[type="tel"],
  .pure-group input[type="color"] {
    margin-bottom: 0;
  }

  .pure-form-aligned .pure-control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%;
  }

  .pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 0;
  }

  /* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
  .pure-form .pure-help-inline,
  .pure-form-message-inline,
  .pure-form-message {
    display: block;
    font-size: 0.75em;
    /* Increased bottom padding to make it group with its related input element. */
    padding: 0.2em 0 0.8em;
  }
}
/*csslint adjoining-classes: false, box-model:false*/
.pure-menu {
  box-sizing: border-box;
}

.pure-menu-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}

.pure-menu-list,
.pure-menu-item {
  position: relative;
}

.pure-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pure-menu-item {
  padding: 0;
  margin: 0;
  height: 100%;
}

.pure-menu-link,
.pure-menu-heading {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

/* HORIZONTAL MENU */
.pure-menu-horizontal {
  width: 100%;
  white-space: nowrap;
}

.pure-menu-horizontal .pure-menu-list {
  display: inline-block;
}

/* Initial menus should be inline-block so that they are horizontal */
.pure-menu-horizontal .pure-menu-item,
.pure-menu-horizontal .pure-menu-heading,
.pure-menu-horizontal .pure-menu-separator {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

/* Submenus should still be display: block; */
.pure-menu-item .pure-menu-item {
  display: block;
}

.pure-menu-children {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.pure-menu-horizontal .pure-menu-children {
  left: 0;
  top: auto;
  width: inherit;
}

.pure-menu-allow-hover:hover > .pure-menu-children,
.pure-menu-active > .pure-menu-children {
  display: block;
  position: absolute;
}

/* Vertical Menus - show the dropdown arrow */
.pure-menu-has-children > .pure-menu-link:after {
  padding-left: 0.5em;
  content: "\25B8";
  font-size: small;
}

/* Horizontal Menus - show the dropdown arrow */
.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
  content: "\25BE";
}

/* scrollable menus */
.pure-menu-scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}

.pure-menu-scrollable .pure-menu-list {
  display: block;
}

.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list {
  display: inline-block;
}

.pure-menu-horizontal.pure-menu-scrollable {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  /* a little extra padding for this style to allow for scrollbars */
  padding: .5em 0;
}

.pure-menu-horizontal.pure-menu-scrollable::-webkit-scrollbar {
  display: none;
}

/* misc default styling */
.pure-menu-separator {
  background-color: #ccc;
  height: 1px;
  margin: .3em 0;
}

.pure-menu-horizontal .pure-menu-separator {
  width: 1px;
  height: 1.3em;
  margin: 0 0.3em;
}

.pure-menu-heading {
  text-transform: uppercase;
  color: #565d64;
}

.pure-menu-link {
  color: #777;
}

.pure-menu-children {
  background-color: #fff;
}

.pure-menu-link,
.pure-menu-disabled,
.pure-menu-heading {
  padding: .5em 1em;
}

.pure-menu-disabled {
  opacity: .5;
}

.pure-menu-disabled .pure-menu-link:hover {
  background-color: transparent;
}

.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
  background-color: #eee;
}

.pure-menu-selected .pure-menu-link,
.pure-menu-selected .pure-menu-link:visited {
  color: #000;
}

.pure-table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.pure-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

.pure-table td,
.pure-table th {
  border-left: 1px solid #cbcbcb;
  /*  inner column border */
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  /*to make ths where the title is really long work*/
  padding: 0.5em 1em;
  /* cell padding */
}

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
.pure-table td:first-child,
.pure-table th:first-child {
  border-left-width: 0;
}

.pure-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.pure-table td {
  background-color: transparent;
}

.pure-table-odd td {
  background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
.pure-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

/* BORDERED TABLES */
.pure-table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}

.pure-table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */
.pure-table-horizontal td,
.pure-table-horizontal th {
  border-width: 0 0 1px 0;
  border-bottom: 1px solid #cbcbcb;
}

.pure-table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0;
}

/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
@media screen and (min-width: 35.5em) {
  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-1-2,
  .pure-u-sm-1-3,
  .pure-u-sm-2-3,
  .pure-u-sm-1-4,
  .pure-u-sm-3-4,
  .pure-u-sm-1-5,
  .pure-u-sm-2-5,
  .pure-u-sm-3-5,
  .pure-u-sm-4-5,
  .pure-u-sm-5-5,
  .pure-u-sm-1-6,
  .pure-u-sm-5-6,
  .pure-u-sm-1-8,
  .pure-u-sm-3-8,
  .pure-u-sm-5-8,
  .pure-u-sm-7-8,
  .pure-u-sm-1-12,
  .pure-u-sm-5-12,
  .pure-u-sm-7-12,
  .pure-u-sm-11-12,
  .pure-u-sm-1-24,
  .pure-u-sm-2-24,
  .pure-u-sm-3-24,
  .pure-u-sm-4-24,
  .pure-u-sm-5-24,
  .pure-u-sm-6-24,
  .pure-u-sm-7-24,
  .pure-u-sm-8-24,
  .pure-u-sm-9-24,
  .pure-u-sm-10-24,
  .pure-u-sm-11-24,
  .pure-u-sm-12-24,
  .pure-u-sm-13-24,
  .pure-u-sm-14-24,
  .pure-u-sm-15-24,
  .pure-u-sm-16-24,
  .pure-u-sm-17-24,
  .pure-u-sm-18-24,
  .pure-u-sm-19-24,
  .pure-u-sm-20-24,
  .pure-u-sm-21-24,
  .pure-u-sm-22-24,
  .pure-u-sm-23-24,
  .pure-u-sm-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-sm-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-sm-1-12,
  .pure-u-sm-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-sm-1-8,
  .pure-u-sm-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  .pure-u-sm-1-6,
  .pure-u-sm-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-sm-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  .pure-u-sm-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-sm-1-4,
  .pure-u-sm-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  .pure-u-sm-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-sm-1-3,
  .pure-u-sm-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-sm-3-8,
  .pure-u-sm-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  .pure-u-sm-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  .pure-u-sm-5-12,
  .pure-u-sm-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-sm-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-sm-1-2,
  .pure-u-sm-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-sm-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-sm-7-12,
  .pure-u-sm-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-sm-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  .pure-u-sm-5-8,
  .pure-u-sm-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  .pure-u-sm-2-3,
  .pure-u-sm-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-sm-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-sm-3-4,
  .pure-u-sm-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  .pure-u-sm-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-sm-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  .pure-u-sm-5-6,
  .pure-u-sm-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-sm-7-8,
  .pure-u-sm-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  .pure-u-sm-11-12,
  .pure-u-sm-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-sm-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-sm-1,
  .pure-u-sm-1-1,
  .pure-u-sm-5-5,
  .pure-u-sm-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-1-2,
  .pure-u-md-1-3,
  .pure-u-md-2-3,
  .pure-u-md-1-4,
  .pure-u-md-3-4,
  .pure-u-md-1-5,
  .pure-u-md-2-5,
  .pure-u-md-3-5,
  .pure-u-md-4-5,
  .pure-u-md-5-5,
  .pure-u-md-1-6,
  .pure-u-md-5-6,
  .pure-u-md-1-8,
  .pure-u-md-3-8,
  .pure-u-md-5-8,
  .pure-u-md-7-8,
  .pure-u-md-1-12,
  .pure-u-md-5-12,
  .pure-u-md-7-12,
  .pure-u-md-11-12,
  .pure-u-md-1-24,
  .pure-u-md-2-24,
  .pure-u-md-3-24,
  .pure-u-md-4-24,
  .pure-u-md-5-24,
  .pure-u-md-6-24,
  .pure-u-md-7-24,
  .pure-u-md-8-24,
  .pure-u-md-9-24,
  .pure-u-md-10-24,
  .pure-u-md-11-24,
  .pure-u-md-12-24,
  .pure-u-md-13-24,
  .pure-u-md-14-24,
  .pure-u-md-15-24,
  .pure-u-md-16-24,
  .pure-u-md-17-24,
  .pure-u-md-18-24,
  .pure-u-md-19-24,
  .pure-u-md-20-24,
  .pure-u-md-21-24,
  .pure-u-md-22-24,
  .pure-u-md-23-24,
  .pure-u-md-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-md-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-md-1-12,
  .pure-u-md-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-md-1-8,
  .pure-u-md-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  .pure-u-md-1-6,
  .pure-u-md-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-md-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  .pure-u-md-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-md-1-4,
  .pure-u-md-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  .pure-u-md-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-md-1-3,
  .pure-u-md-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-md-3-8,
  .pure-u-md-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  .pure-u-md-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  .pure-u-md-5-12,
  .pure-u-md-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-md-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-md-1-2,
  .pure-u-md-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-md-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-md-7-12,
  .pure-u-md-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-md-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  .pure-u-md-5-8,
  .pure-u-md-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  .pure-u-md-2-3,
  .pure-u-md-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-md-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-md-3-4,
  .pure-u-md-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  .pure-u-md-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-md-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  .pure-u-md-5-6,
  .pure-u-md-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-md-7-8,
  .pure-u-md-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  .pure-u-md-11-12,
  .pure-u-md-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-md-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-md-1,
  .pure-u-md-1-1,
  .pure-u-md-5-5,
  .pure-u-md-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 64em) {
  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-1-2,
  .pure-u-lg-1-3,
  .pure-u-lg-2-3,
  .pure-u-lg-1-4,
  .pure-u-lg-3-4,
  .pure-u-lg-1-5,
  .pure-u-lg-2-5,
  .pure-u-lg-3-5,
  .pure-u-lg-4-5,
  .pure-u-lg-5-5,
  .pure-u-lg-1-6,
  .pure-u-lg-5-6,
  .pure-u-lg-1-8,
  .pure-u-lg-3-8,
  .pure-u-lg-5-8,
  .pure-u-lg-7-8,
  .pure-u-lg-1-12,
  .pure-u-lg-5-12,
  .pure-u-lg-7-12,
  .pure-u-lg-11-12,
  .pure-u-lg-1-24,
  .pure-u-lg-2-24,
  .pure-u-lg-3-24,
  .pure-u-lg-4-24,
  .pure-u-lg-5-24,
  .pure-u-lg-6-24,
  .pure-u-lg-7-24,
  .pure-u-lg-8-24,
  .pure-u-lg-9-24,
  .pure-u-lg-10-24,
  .pure-u-lg-11-24,
  .pure-u-lg-12-24,
  .pure-u-lg-13-24,
  .pure-u-lg-14-24,
  .pure-u-lg-15-24,
  .pure-u-lg-16-24,
  .pure-u-lg-17-24,
  .pure-u-lg-18-24,
  .pure-u-lg-19-24,
  .pure-u-lg-20-24,
  .pure-u-lg-21-24,
  .pure-u-lg-22-24,
  .pure-u-lg-23-24,
  .pure-u-lg-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-lg-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-lg-1-12,
  .pure-u-lg-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-lg-1-8,
  .pure-u-lg-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  .pure-u-lg-1-6,
  .pure-u-lg-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-lg-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  .pure-u-lg-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-lg-1-4,
  .pure-u-lg-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  .pure-u-lg-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-lg-1-3,
  .pure-u-lg-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-lg-3-8,
  .pure-u-lg-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  .pure-u-lg-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  .pure-u-lg-5-12,
  .pure-u-lg-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-lg-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-lg-1-2,
  .pure-u-lg-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-lg-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-lg-7-12,
  .pure-u-lg-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-lg-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  .pure-u-lg-5-8,
  .pure-u-lg-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  .pure-u-lg-2-3,
  .pure-u-lg-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-lg-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-lg-3-4,
  .pure-u-lg-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  .pure-u-lg-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-lg-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  .pure-u-lg-5-6,
  .pure-u-lg-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-lg-7-8,
  .pure-u-lg-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  .pure-u-lg-11-12,
  .pure-u-lg-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-lg-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-lg-1,
  .pure-u-lg-1-1,
  .pure-u-lg-5-5,
  .pure-u-lg-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 80em) {
  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-1-2,
  .pure-u-xl-1-3,
  .pure-u-xl-2-3,
  .pure-u-xl-1-4,
  .pure-u-xl-3-4,
  .pure-u-xl-1-5,
  .pure-u-xl-2-5,
  .pure-u-xl-3-5,
  .pure-u-xl-4-5,
  .pure-u-xl-5-5,
  .pure-u-xl-1-6,
  .pure-u-xl-5-6,
  .pure-u-xl-1-8,
  .pure-u-xl-3-8,
  .pure-u-xl-5-8,
  .pure-u-xl-7-8,
  .pure-u-xl-1-12,
  .pure-u-xl-5-12,
  .pure-u-xl-7-12,
  .pure-u-xl-11-12,
  .pure-u-xl-1-24,
  .pure-u-xl-2-24,
  .pure-u-xl-3-24,
  .pure-u-xl-4-24,
  .pure-u-xl-5-24,
  .pure-u-xl-6-24,
  .pure-u-xl-7-24,
  .pure-u-xl-8-24,
  .pure-u-xl-9-24,
  .pure-u-xl-10-24,
  .pure-u-xl-11-24,
  .pure-u-xl-12-24,
  .pure-u-xl-13-24,
  .pure-u-xl-14-24,
  .pure-u-xl-15-24,
  .pure-u-xl-16-24,
  .pure-u-xl-17-24,
  .pure-u-xl-18-24,
  .pure-u-xl-19-24,
  .pure-u-xl-20-24,
  .pure-u-xl-21-24,
  .pure-u-xl-22-24,
  .pure-u-xl-23-24,
  .pure-u-xl-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-xl-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-xl-1-12,
  .pure-u-xl-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-xl-1-8,
  .pure-u-xl-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  .pure-u-xl-1-6,
  .pure-u-xl-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-xl-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  .pure-u-xl-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-xl-1-4,
  .pure-u-xl-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  .pure-u-xl-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-xl-1-3,
  .pure-u-xl-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-xl-3-8,
  .pure-u-xl-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  .pure-u-xl-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  .pure-u-xl-5-12,
  .pure-u-xl-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-xl-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-xl-1-2,
  .pure-u-xl-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-xl-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-xl-7-12,
  .pure-u-xl-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-xl-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  .pure-u-xl-5-8,
  .pure-u-xl-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  .pure-u-xl-2-3,
  .pure-u-xl-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-xl-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-xl-3-4,
  .pure-u-xl-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  .pure-u-xl-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-xl-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  .pure-u-xl-5-6,
  .pure-u-xl-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-xl-7-8,
  .pure-u-xl-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  .pure-u-xl-11-12,
  .pure-u-xl-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-xl-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-xl-1,
  .pure-u-xl-1-1,
  .pure-u-xl-5-5,
  .pure-u-xl-24-24 {
    width: 100%;
  }
}
a, a:visited, a:hover {
  text-decoration: none;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 20;
  background-color: #222;
  border-top: 2px solid #ff3030;
}

.menu-wrapper {
  -webkit-font-smoothing: antialiased;
  height: 32px;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.custom-wrapper.open {
  height: 14em;
}

.custom-menu-3 {
  text-align: right;
}

.custom-toggle {
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  cursor: pointer;
}

.custom-toggle .bar {
  background-color: #777;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 18px;
  right: 7px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.custom-toggle.x .bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-toogle-container {
  height: 34px;
}

.pure-menu-link, .pure-menu-disabled, .pure-menu-heading {
  padding: 4px 10px;
}

li.flag {
  margin-right: 10px;
}

div#nt-search {
  position: relative;
  float: right;
  width: 36px;
  height: 32px;
  z-index: 10;
  margin-top: 0px;
  line-height: 1 !important;
}

.nt-search-input-wrap {
  height: 35px;
  width: 35px;
  border: 0;
  overflow: hidden;
  -webkit-transition: width 200ms;
  transition: width 200ms;
}

input[type="text"].nt-search-input {
  border: none !important;
  outline: none;
  width: 270px;
  height: 35px;
  margin: 0;
  padding: 2px 7px;
  /*padding-left: 40px !important;*/
}

#s {
  font-size: 12px;
  padding: 5px 15px;
  letter-spacing: 2px;
  font-weight: normal;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  box-sizing: border-box;
}

input#s {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 0;
  border: 0;
  outline: 0;
  color: black;
}

#s:focus {
  outline: none;
}

input#go {
  line-height: 1;
  background: transparent;
  box-shadow: none;
  border: 0;
  opacity: 0;
}

span.nt.fa-search {
  color: #fff;
}

input#go, span.nt.fa-search {
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  line-height: 32px;
  display: block;
  position: absolute;
  text-align: center;
  cursor: pointer;
  margin: 0 !important;
}

.nt.fa-search:before {
  font-family: "FontAwesome";
  content: '\f002';
  color: #fff;
  font-size: 14px;
}

.nt-search.nt-search-open .nt-search-input-wrap {
  width: 238px;
  opacity: 1 !important;
}

.nt-search-open .nt.fa-search {
  color: #fff;
}

.nt-search-open input#go {
  opacity: 1;
}

.pure-menu-link {
  font-family: "lato";
  color: white;
  font-size: 0.75em;
  line-height: 2em;
}

.pure-menu-link, .pure-menu-item .fa {
  color: white;
}

@media (max-width: 47.999em) {
  .custom-menu-3 {
    text-align: left;
  }

  .custom-toggle {
    display: block;
  }

  .menu-wrapper.open {
    height: auto;
  }

  .menu-wrapper > div:first-child {
    display: block !important;
  }
}
/* preloader */
.preloader {
  height: 100%;
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  z-index: 999999;
  text-align: center;
  font-size: 32px;
  color: #333;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}

.preloader .preloader-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.pulse-preloader {
  color: #111;
  /*width: 100px;*/
  margin-left: auto;
  margin-right: auto;
}

.pulse-preloader > img.pulse {
  -webkit-animation: pulse-animation 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  animation: pulse-animation 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  display: block;
  float: none;
  margin: 0 auto;
  width: 125px;
  /*width: 20%;*/
  height: auto;
}

.pulse2 {
  -webkit-animation: pulse2 1s linear infinite;
  animation: pulse2 1s linear infinite;
}

@keyframes "pulse2" {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes "pulse2" {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.float-left {
  float: left;
}

.float-right {
  float: right;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dedede;
}

article ul {
  list-style: square;
  margin-left: 20px;
}

h1 {
  font-size: 1.875em;
  line-height: 1.6em;
  font-weight: 600;
  color: black;
}

a {
  color: #ff3030;
  outline: 0;
  text-decoration: none;
}

p {
  text-align: justify;
  font-size: 1em;
  line-height: 1.5em;
}

footer {
  background-color: #282828;
}

footer a, footer p, footer span, footer h2 {
  color: white;
}

.clearfix {
  clear: both;
}

.ajax-content-hidden {
  display: none;
}

.post-container {
  margin-bottom: 40px;
}

.post-image-container {
  overflow: hidden;
}

.pulse-image {
  -webkit-transition: opacity .54s,-webkit-transform .45s,-webkit-filter .45s;
  transition: opacity .54s,-webkit-transform .45s,-webkit-filter .45s;
  transition: transform .45s,filter .45s,opacity .54s;
  transition: transform .45s,filter .45s,opacity .54s,-webkit-transform .45s,-webkit-filter .45s;
}
.post-container:hover .pulse-image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.95;
}

.post-container {
  background-color: white;
}

.article_summary {
  padding: 30px 50px;
}

.article_comments {
  margin-left: 10px;
}

.article-date {
  font-size: 0.75em;
  line-height: 2em;
  text-transform: uppercase;
  color: #222;
  float: left;
}

.article-date i {
  margin-right: 10px;
}

.article-footer {
  overflow: hidden;
  margin: 10px 0;
}

.article-footer .article-tags {
  float: left;
}

@media only screen and (max-width: 900px) {
  .article_summary {
    padding: 30px 20px;
  }
}
.article-tags {
  float: right;
  font-size: 10px;
  letter-spacing: 1px;
}

.article-tags a:after {
  content: '';
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 8px 6px 0px 0px;
  border-top-color: #ff3030;
  left: 0px;
  top: 100%;
}

.article-tags a {
  position: relative;
  display: inline-block;
  color: #fff;
  padding: 4px 10px 5px;
  line-height: 10px;
  text-transform: uppercase;
  background: #ff3030;
  margin-right: 13px;
}

.article-tags a:nth-child(n+4) {
  display: none;
}

.read-more-button {
  background-color: #ff3030;
  color: white;
}

.soc-sharing {
  float: right;
}

.soc-sharing ul li {
  display: inline-block;
  margin-right: 5px;
}

.soc-sharing li a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  color: #555;
  text-align: center;
  border: 1px solid #555;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.soc-sharing li .fa-google-plus:hover,
#footer .widget-social .btn-gplus:hover {
  background-color: #d53824 !important;
}

.soc-sharing li .fa-vimeo:hover,
#footer .widget-social .btn-vimeo:hover {
  background-color: #4c8ab0 !important;
}

.soc-sharing li .fa-behance:hover,
#footer .widget-social .btn-behance:hover {
  background-color: #1769ff !important;
}

.soc-sharing li .fa-twitter:hover,
#footer .widget-social .btn-twitter:hover {
  background-color: #3bc1ed !important;
}

.soc-sharing li .fa-youtube:hover,
#footer .widget-social .btn-youtube:hover {
  background-color: #bf2f29 !important;
}

.soc-sharing li .fa-dribbble:hover,
#footer .widget-social .btn-dribbble:hover {
  background-color: #ef5a92 !important;
}

.soc-sharing li .fa-facebook:hover,
#footer .widget-social .btn-facebook:hover {
  background-color: #4a6d9d !important;
}

.soc-sharing li .fa-linkedin:hover,
#footer .widget-social .btn-linkedin:hover {
  background-color: #0b7bb5 !important;
}

.soc-sharing li .fa-pinterest:hover,
#footer .widget-social .btn-pinterest:hover {
  background-color: #cb1f25 !important;
}

.soc-sharing li .fa-instagram:hover,
#footer .widget-social .btn-instagram:hover {
  background-color: #3f6f94 !important;
}

.fa-google-plus:hover,
.fa-vimeo:hover,
.fa-behance:hover,
.fa-twitter:hover,
.fa-youtube:hover,
.fa-dribbble:hover,
.fa-facebook:hover,
.fa-linkedin:hover,
.fa-pinterest:hover,
.fa-instagram:hover {
  color: #ffffff !important;
}

code, samp, kbd {
  font-family: "Courier New", Courier, monospace, sans-serif;
  text-align: left;
  color: #555;
}

pre code {
  line-height: 1.6em;
  font-size: 11px;
}

pre {
  /*padding: 0.1em 0.5em 0.3em 0.7em;*/
  width: 100%;
  border-left: 11px solid #ccc;
  margin: 1.7em 0 1.7em 0.3em;
  overflow: auto;
  width: 93%;
  background-color: #dedede;
  font-family: consolas;
}

/* target IE7 and IE6 */
*:first-child + html pre {
  padding-bottom: 2em;
  overflow-y: hidden;
  overflow: visible;
  overflow-x: auto;
}

* html pre {
  padding-bottom: 2em;
  overflow: visible;
  overflow-x: auto;
}

.sidebar-wrapper {
  padding: 0 10px;
}

.sidebar .widget {
  margin-bottom: 40px;
  background: top repeat-x white url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKUAAAAOAQMAAAB0Pk60AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAgJsrThgAAAAdSURBVBjTY5jkqYKBFBhUsAh7MGBRqjKBYcSZAACscGF+7a9QpwAAAABJRU5ErkJggg==");
}

.sidebar .widget-title {
  text-align: center;
  margin-top: -20px;
}

.sidebar .widget-title > h2 {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
  font-size: 0.875em;
  line-height: 1.71429em;
}

.popular-posts .item-content {
  font-size: 12px;
  letter-spacing: 1px;
  margin: 30px 0;
}

.popular-posts .item-title {
  display: table;
  height: 72px;
}

.popular-posts .item-title a {
  display: table-cell;
  vertical-align: middle;
}

.popular-posts .item-thumbnail img {
  display: block;
  float: left;
  height: 72px;
  width: 72px;
  border-radius: 50%;
  padding: 0;
  margin-right: 5px;
}

.sidebar .widget.label-list ul li {
  border-bottom: 1px solid #f1f4f9;
  padding: 0 0 10px 10px;
}

.widget {
  padding: 20px;
}

.mostVisitedLink > span {
  display: none;
}

.widget.currently-reading .book-title {
  margin: 10px 0;
}

.comments {
  margin: 20px 0;
}

.CommentList {
  margin: 1em 0 0 0;
}

.CommentListItem {
  list-style: none;
  margin: 0;
  border-left: 5px solid #ddd;
  border-top: 1px dotted #ccc;
  padding: 1em 0 1px 1em;
  background: #fff;
}

.CommentListItem p {
  margin-top: 0;
}

.CommentHeader,
#CommentForm label {
  margin: 0;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  color: #3786bc;
}

.CommentText {
  color: #666;
}

#CommentForm {
  display: none;
}

#CommentForm h2 {
  margin-bottom: 0;
  border: none;
}

#CommentForm label {
  display: block;
  color: #999;
}

#CommentForm p {
  margin: 0.5em 0;
}

#CommentForm .error {
  background: #a30000;
  color: #fff;
  padding: 0.25em 0.5em;
}

#CommentForm .success {
  font-weight: bold;
}

.CommentForm_cite,
.CommentForm_email {
  float: left;
}

.CommentForm_cite input,
.CommentForm_email input {
  width: 200px;
  margin-right: 1em;
}

.CommentForm_text {
  clear: both;
}

.CommentForm_text textarea {
  padding: 2px;
  width: 75%;
  height: 100px;
}

.MarkupPagerNav li a,
.MarkupPagerNav li.MarkupPagerNavSeparator {
  display: block;
  float: left;
  padding: 2px 9px;
  color: #fff;
  background: #ff3030;
  margin-right: 15px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 3px;
}

.MarkupPagerNav li.MarkupPagerNavOn a,
.MarkupPagerNav li a:hover {
  color: #fff;
  background: #282828;
  text-decoration: none;
}

/* post navigation */
#blog-pager {
  display: inline-block;
  overflow: visible;
  width: 100%;
}

.showpageOf, .home-link {
  display: none;
}

.showpagePoint {
  background: #333;
  color: #FFFFFF;
  margin: 0 10px 0 0;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.showpage a, .showpageNum a {
  background: #FF3030;
  color: #FFFFFF;
  margin: 0 10px 0 0;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.showpage a:hover, .showpageNum a:hover {
  background: #FF3030;
  color: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-decoration: none;
}

#blog-pager-newer-link {
  padding: 20px 0%;
  position: relative;
  text-align: left;
  width: 45%;
}

#blog-pager-older-link {
  position: relative;
  text-align: right;
  float: right;
}

#blog-pager-newer-link .newer-text, #blog-pager-older-link .older-text {
  display: block;
  color: #999;
}

a#Blog1_blog-pager-older-link, a#Blog1_blog-pager-newer-link {
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: #ff3030;
  background-color: #ff3030;
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: 12px 14px;
  position: relative;
  text-decoration: none;
  font-size: 12px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 3px;
}

.footer-container {
  padding: 10px 0;
}

.footer-container h2 {
  font-size: 1em;
  line-height: 1.5em;
}

.footer-credits {
  background-color: #dedede;
  padding: 20px 0;
}

.footer-credits a, .footer-credits p, .footer-credits span {
  color: #333;
  text-align: center;
}

.footer-container .popular-posts .item-title a {
  color: white;
}

.footer-container .widget .item-content {
  margin: 10px 0;
}

.footer-container input, .footer-container textarea {
  background-color: #353535;
  color: #8e8e8e;
  border: none;
}

.footer-credits a {
  color: #555;
}

.footer-credits a:hover {
  color: #333;
}

.footer_social-icons {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.footer_social-icons li {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: inline-block;
}

.footer_social-icons li a {
  display: block;
  color: white;
}

.footer_social-icons li a i {
  line-height: 40px;
}

.btn-gplus {
  background-color: #d53824 !important;
}

.btn-vimeo {
  background-color: #4c8ab0 !important;
}

.btn-behance {
  background-color: #1769ff !important;
}

.btn-twitter {
  background-color: #3bc1ed !important;
}

.btn-youtube {
  background-color: #bf2f29 !important;
}

.btn-dribbble {
  background-color: #ef5a92 !important;
}

.btn-facebook {
  background-color: #4a6d9d !important;
}

.btn-linkedin {
  background-color: #0b7bb5 !important;
}

.btn-pinterest {
  background-color: #cb1f25 !important;
}

.btn-instagram {
  background-color: #3f6f94 !important;
}

.btn-gplus:hover, .btn-vimeo:hover, .btn-behance:hover, .btn-twitter:hover,
.btn-youtube:hover, .btn-dribbble:hover, .btn-facebook:hover,
.btn-linkedin:hover, .btn-pinterest:hover, .btn-instagram:hover {
  color: white !important;
}

.authorboxwrap, .footer_tags {
  margin: 0 0 20px 0;
}

.authorboxwrap {
  display: inline-block;
  width: 100%;
}

.avatar-container {
  float: left;
  float: left;
  max-width: 150px;
  text-align: center;
}

.avatar-container img {
  height: auto;
}

.avatar-container h4 a {
  color: #222;
  font-weight: normal;
  letter-spacing: 1.5px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
}

img.author_avatar {
  border-radius: 50%;
  width: 140px;
  border: 10px solid #f5f5f5;
  box-shadow: 1px -2px 15px -8px #000;
}

.author_description_container {
  float: left;
  margin-left: 25px;
  margin-bottom: 25px;
  margin-top: 10px;
  width: 74%;
  padding: 10px 30px;
  background: #DBDBDB;
  position: relative;
  box-shadow: -3px 3px 13px -10px #000;
}

.author_description_container:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-top-color: #DBDBDB;
  border-width: 20px 0px 0px 35px;
  left: -33px;
  top: 0;
}

.author_description_container p {
  font-size: 14px;
  line-height: 1.6;
  letter-spacing: 0;
  padding: 0px;
}

.authorsocial {
  margin: 10px 0 0;
}

.authorsocial a {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 14px;
  color: #FFF;
  position: relative;
  margin-right: 2px;
  background: #FF3030;
  padding: 1px 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.authorsocial a i {
  line-height: 25px;
}

@media only screen and (max-width: 900px) {
  .avatar-container {
    margin: 0 auto;
    display: block;
    float: none;
  }

  .author_description_container {
    float: none;
    margin: 0 auto;
  }

  .author_description_container::before {
    display: none;
  }
}
.status-msg-wrap {
  font-size: 110%;
  margin: 10px auto;
  position: relative;
}

.status-msg-border {
  border: 1px solid #000;
}

.status-msg-bg {
  background-color: #ccc;
}

.status-msg-body {
  text-align: center;
  padding: .3em 0;
  width: 100%;
  position: absolute;
  z-index: 4;
}

.status-msg-hidden {
  visibility: hidden;
  padding: 0.3em 0;
}

.status-msg-wrap a {
  padding-left: .4em;
  text-decoration: underline;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 11;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
}

.cover #result {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 auto;
  display: inline-table;
}

.cover #result p {
  color: white;
  margin-top: 10px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  -webkit-animation: loading 1s ease-in-out infinite;
          animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
  background-color: #3498db;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.loading-bar:nth-child(2) {
  background-color: #c0392b;
  -webkit-animation-delay: 0.09s;
          animation-delay: 0.09s;
}

.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  -webkit-animation-delay: .18s;
          animation-delay: .18s;
}

.loading-bar:nth-child(4) {
  background-color: #27ae60;
  -webkit-animation-delay: .27s;
          animation-delay: .27s;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1, 2.2);
            transform: scale(1, 2.2);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1, 2.2);
            transform: scale(1, 2.2);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.loading-basic {
  text-align: center;
  margin: 20px 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: "lato";
}

.top-image-container {
  height: 300px;
}

.main-container {
  margin: 40px auto;
}

#main, .blog-pager {
  padding: 0 10px;
}

.detail-span {
  color: #ff3030;
}
