/*
-----------------------------------------------
Blogger Template Style
Name:     Tradition Blogger Template
Designer: VeeThemes
URL:      http://www.veethemes.com
Version:  Full Version
Modified by Jeferson Arboleda @ 2016

----------------------------------------------- */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*------------------------------------------------------
Variable @ Template Designer
--------------------------------------------------------
red color: #FF3030;
------------------------------------------------------*/
/* preloader */
.preloader{
  height: 100%;
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  z-index: 999999;
  text-align: center;
  font-size: 32px;
  color: #333;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
.preloader .preloader-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.pulse-preloader{
  color: #111;
    /*width: 100px;*/
    margin-left: auto;
    margin-right: auto;
}
.pulse-preloader > img.pulse{
  -webkit-animation: pulse-animation 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  -moz-animation: pulse-animation 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  -o-animation: pulse-animation 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  animation: pulse-animation 1s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  display: block;
  float: none;
  margin: 0 auto;
  width: 125px;
  /*width: 20%;*/
  height: auto;
}

.pulse2 {
	-webkit-animation: pulse2 1s linear infinite;
	-moz-animation: pulse2 1s linear infinite;
	-ms-animation: pulse2 1s linear infinite;
	animation: pulse2 1s linear infinite;
}

@keyframes "pulse2" {
 0% {
    -webkit-transform: scale(1.1);
   	-moz-transform: scale(1.1);
   	-o-transform: scale(1.1);
   	-ms-transform: scale(1.1);
   	transform: scale(1.1);
 }
 50% {
    -webkit-transform: scale(0.8);
   	-moz-transform: scale(0.8);
   	-o-transform: scale(0.8);
   	-ms-transform: scale(0.8);
   	transform: scale(0.8);
 }
 100% {
    -webkit-transform: scale(1);
   	-moz-transform: scale(1);
   	-o-transform: scale(1);
   	-ms-transform: scale(1);
   	transform: scale(1);
 }

}

@-moz-keyframes pulse2 {
 0% {
   -moz-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -moz-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -moz-transform: scale(1);
   transform: scale(1);
 }

}

@-webkit-keyframes "pulse2" {
 0% {
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
 }
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }
 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }

}

/*****************************************
reset.css
******************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure {
    margin: 0;
    padding: 0;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

sup {
    vertical-align: super;
    font-size: smaller;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: #272727;
}

::selection {
    background: #333;
    color: #fff;
}

::-moz-selection {
    background: #333;
    color: #fff;
}

a img {
    border: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

ol, ul {
    padding: 10px 0 20px;
    margin: 0 0 0 35px;
    text-align: left;
}

ol li {
    list-style-type: decimal;
    padding: 0 0 5px;
}

ul li {
    list-style-type: square;
    padding: 0 0 5px;
}

ul ul, ol ol {
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'lato', San-serif;
    font-weight: normal;
}

.post-body h1 {
    line-height: 48px;
    font-size: 42px;
    margin: 10px 0;
}

/*****************************************
Global Links CSS
******************************************/
a {
    color: #FF3030;
    outline: none;
    text-decoration: none;
}

a:hover, a:focus {
    color: #282828;
    text-decoration: none;
}

body {
    background: #DEDEDE;
    padding: 0;
    font-family: lato,sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
}

p {
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #333;
}

.clr {
    clear: both;
    float: none;
}
/*****************************************
Wrappers
******************************************/
.ct-wrapper {
    padding: 0px 15px;
    position: relative;
    max-width: 87%;
    width: auto;
    margin: 0 auto;
}

.outer-wrapper {
    margin: 40px 0;
    position: relative;
}

.header-wrapper {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #9A9A9A;
}

.main-wrapper {
    width: 75%;
    float: left;
}

.sidebar-wrapper {
    width: 25%;
    float: right;
}
/*------------ *|*|*| BLog Top_header *|*|* */
.blog_top-header {
    background: #222;
    color: #acacac;
    padding: 0;
    /*height: 37px;*/
    float: left;
    width: 100%;
    line-height: 1;
    border-top: 2px solid #FF3030;
}

/*.topbar-left, .topbar-right {
    display: inline-block;
}

.topbar-left {
    float: left;
}

.topbar-right {
    text-align: right;
    padding-right: 15px;
    float: right;
}

.top_menu_bar,.header_social {
    float: left;
}

.top_menu_bar ul {
    margin: 0;
    padding: 0;
}

.top_menu_bar li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    padding: 0;
    position: relative;
}

.top_menu_bar li:after {
    content: "/";
    float: left;
    position: absolute;
    right: -6px;
    color: #fff;
    top: 12.5px;
    font-size: 10px;
}

.top_menu_bar li:last-child:after {
    content: "";
}

.top_menu_bar li a {
    display: block;
    padding: 13px 7px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

.top_menu_bar li a:hover {
    color: #FF3030;
}*/

.header_social {
    padding-right: 10px;
}

.header_social a {
    display: inline-block;
    font-size: 14px;
    color: #e3e3e3;
    padding: 12px 2px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    width: 26px;
    height: 37px;
    text-align: center;
}

div#nt-search {
    position: relative;
    float: right;
    width: 36px;
    height: 32px;
    z-index: 10;
    margin-top: 0px;
    line-height: 1!important;
}


.nt-search-input-wrap {
    position: absolute;
    right: 36px;
    height: 32px;
    width: 0;
    border: 0;
    overflow: hidden;
    -webkit-transition: width 200ms;
    -moz-transition: width 200ms;
    transition: width 200ms;
}

input[type="text"].nt-search-input {
    border: none!important;
    outline: none;
    width: 270px;
    height: 35px;
    margin: 0;
    padding: 2px 7px;
    /*padding-left: 40px !important;*/
}

#s {
    -webkit-appearance: none!important;
    outline: none;
    font-size: 12px;
    padding: 5px 15px;
    letter-spacing: 2px;
    font-weight: normal;
    display: block;
    margin-bottom: 10px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input#s {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    color: black;
}

#s:focus {
    outline: none;
}

input#go {
    line-height: 1;
    background: transparent;
    box-shadow: none;
    border: 0;
    opacity: 0;
}

span.nt.fa-search {
    color: #fff;
    background: #FF3030;
}

input#go, span.nt.fa-search {
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    padding: 8px 0;
    display: block;
    position: absolute;
    text-align: center;
    cursor: pointer;
    margin: 0!important;
}

.nt.fa-search:before {
    font-family: "FontAwesome";
    content: '\f002';
    color: #fff;
    font-size: 14px;
}

.nt-search.nt-search-open .nt-search-input-wrap {
    width: 238px;
    opacity: 1!important;
}

.nt-search-open .nt.fa-search {
    color: #fff;
}

.nt-search-open input#go {
    opacity: 1;
}

#header-inner {
    padding: 0;
    height: 300px;
  }

  .top_menu_bar ul{
    float: left;
  }

  /*.lang_selector{
    float: left;
  }*/

  /*.lang_selector .fa-flag-o{
    color: #FF3030;
  }*/

  /*.lang_selector li{
    display: inline-block;
  }

  .lang_selector li:after{
    content: "  ";
  }*/

  .lang_selector.selected{
    background-color: #FF3030;
  }

  li.flag{
    margin-right: 10px;
  }

  .lang_selector a{
    /*color: #FF3030;*/
  }


  /*****************************************
  Main Menu CSS
  ******************************************/
  .blog_nav_wrapper {
      border-bottom: 1px solid #9A9A9A;
  }

  .mobile-link {
      display: none;
  }

  .mobile-link a {
      font-size: 25px;
      color: #222;
  }

  .mobile-link {
      position: absolute;
      top: -105px;
      left: 30px;
  }

  .nav-menu {
  }

  .nav-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
  }

  .nav-menu ul li {
      display: inline-block;
      position: relative;
      list-style: none;
      padding: 0;
  }

  .nav-menu li a {
      color: #181818;
      display: block;
      position: relative;
      font-family: georgia,serif;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-style: normal;
      font-size: 12px;
      padding: 20px 25px;
      line-height: 1em;
      -webkit-transition: all 0.15s ease;
      -moz-transition: all 0.15s ease;
      -ms-transition: all 0.15s ease;
      -o-transition: all 0.15s ease;
      transition: all 0.15s ease;
  }

  .nav-menu li a:before,.nav-menu li a.current:before {
      content: "";
      position: absolute;
      width: 95%;
      border-top: 3px solid rgba(255, 255, 255, 0);
      top: 0;
      left: 5px;
      -webkit-transition: all 0.15s linear;
      -moz-transition: all 0.15s linear;
      -ms-transition: all 0.15s linear;
      -o-transition: all 0.15s linear;
      transition: all 0.15s linear;
  }

  .nav-menu li a:hover:before,.nav-menu li a.current:before {
      border-color: #FF3030;
  }

  /*----------- |*|*|*|*|*| Main section stylesheet *|*|*|*|*| ----------*/
  .blog_posts {
      width: 100%;
      margin: 0 auto;
      display: inline-block;
  }

  .blog_posts:after {
      content: '';
      display: block;
      clear: both;
  }

  .post-outer-home {
      position: relative;
      float: left;
      display: block;
      margin: 0 2px 40px 2px;
      width: 100%;
  }

  .post-outer {
      width: 100%;
      position: relative;
      float: left;
      display: block;
      margin: 0 2px 40px 2px;
      padding: 40px 30px;
      margin-top: 0px;
      background: url('/site/templates/img/sep.png') top repeat-x white;
      z-index: 1;
      box-shadow: 2px 3px 15px -10px #000;
  }

  .grid_item {
      position: relative;
      float: left;
      overflow: hidden;
      width: 100%;
  }

  .post_hentry {
      width: 100%;
      float: left;
      display: block;
      min-height: 1px;
      overflow: visible;
  }

  .grid_item .isobrick-inner {
      overflow: hidden;
      position: relative;
  }

  .grid_item img {
      max-width: 100% !important;
  }


  .article_image,.blog_post_feature_image {
      transition: transform 0.45s, filter 0.45s, opacity 0.54s;
      -webkit-transition: -webkit-transform 0.45s, -webkit-filter 0.45s, opacity 0.45s;
      -moz-transition: -moz-transform 0.45s, -moz-filter 0.45s;
      -o-transition: -o-transform 0.45s, -o-filter 0.45s;
      -ms-transition: -ms-transform 0.45s, -ms-filter 0.45s;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }

  .article_cont:hover .article_image,.blog_featured_post:hover .blog_post_feature_image {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
  }

  .article_image {
      filter: alpha(opacity=90);
      -moz-opacity: 0.9;
      -khtml-opacity: 0.9;
      opacity: 0.9;
  }

  .article_cont:hover .article_image {
      filter: alpha(opacity=95);
      -moz-opacity: 0.95;
      -khtml-opacity: 0.95;
      opacity: 0.95;
  }

  .article_image {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
  }

  .badge a,.article_badge a {
      position: relative;
      display: inline-block;
      margin-bottom: 2px;
      color: #fff;
      padding: 4px 10px 5px;
      line-height: 10px;
      border-radius: 0;
      -webkit-border-radius: 0;
      text-transform: uppercase;
      z-index: 10;
      background: #FF3030;
      margin-right: 13px;
  }

  .badge a:nth-child(n+3),.article_badge a:nth-child(n+3) {
      display: none;
  }

  .badge a:after,.article_badge a:after {
      content: '';
      display: block;
      position: absolute;
      border-color: transparent;
      border-style: solid;
      border-width: 8px 6px 0px 0px;
      border-top-color: #FF3030;
      left: 0px;
      top: 100%;
  }

  .grid_item h1 {
      font-family: Lato;
      text-transform: uppercase;
      letter-spacing: .9px;
      font-weight: 900;
      font-style: normal;
      font-size: 30px;
      padding: 10px 0 0;
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 1.4;
  }

  .grid_item h1 a {
      color: #181818;
      z-index: 10;
      position: relative;
      display: block;
  }

  img.avatar_photo {
      max-width: 100% !important;
      height: auto !important;
      width: 35px;
      border-radius: 50%;
      margin-right: 10px;
  }

  span.article_author a {
      color: rgb(255, 255, 255);
      border-bottom: 1px dotted white;
      padding-bottom: 5px;
  }

  .image_container {
      position: relative;
      overflow: hidden;
  }

  .article_summary {
      padding: 30px 50px 50px;
      background: white;
      box-shadow: 0px 0px 20px -10px #000;
  }

  .article_date {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #222;
      float: left;
  }

  .article_date i {
      margin-right: 10px;
  }

  .article_badge {
      float: right;
      font-size: 10px;
      letter-spacing: 1px;
  }

  .article_badge a {
      padding: 3px 9px 4px;
  }

  .article_entry-footer {
      width: 100%;
      float: left;
      margin-top: 35px;
  }

  .meta-item {
      display: inline-block;
      vertical-align: top;
      margin-right: 15px;
  }

  a.read_more_button {
      background: #FF3030;
      border: 1px solid #FF3030;
      color: #FFFFFF !important;
      z-index: 99;
      font-family: Lato;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      font-style: normal;
      font-size: 10px;
      margin-top: 0;
      display: inline-block;
      line-height: 1;
      padding: 12px 14px;
      position: relative;
      text-decoration: none;
      -moz-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
  }

  .meta-item-share {
      float: right;
      margin-right: 0;
      margin-top: 5px;
  }

  .soc_sharing ul {
      float: left;
      margin: 0;
      padding: 0;
  }

  .soc_sharing li {
      list-style: none;
      margin: 0;
      margin-right: 5px;
      padding: 0;
      display: inline-block;
  }

  .soc_sharing li a {
      background-color: transparent;
      height: 32px;
      width: 32px;
      text-align: center;
      float: left;
      margin: 0;
      padding: 6px 0;
      color: #555;
      border: 1px solid #555;
      border-radius: 50%;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
  }

  .soc_sharing li a:hover {
      border-color: transparent;
  }

  /* Hover */
  .soc_sharing li .fa-google-plus:hover,
  #footer .widget-social .btn-gplus:hover {
      background-color: #d53824 !important;
  }

  .soc_sharing li .fa-vimeo:hover,
  #footer .widget-social .btn-vimeo:hover {
      background-color: #4c8ab0 !important;
  }

  .soc_sharing li .fa-behance:hover,
  #footer .widget-social .btn-behance:hover {
      background-color: #1769ff !important;
  }

  .soc_sharing li .fa-twitter:hover,
  #footer .widget-social .btn-twitter:hover {
      background-color: #3bc1ed !important;
  }

  .soc_sharing li .fa-youtube:hover,
  #footer .widget-social .btn-youtube:hover {
      background-color: #bf2f29 !important;
  }

  .soc_sharing li .fa-dribbble:hover,
  #footer .widget-social .btn-dribbble:hover {
      background-color: #ef5a92 !important;
  }

  .soc_sharing li .fa-facebook:hover,
  #footer .widget-social .btn-facebook:hover {
      background-color: #4a6d9d !important;
  }

  .soc_sharing li .fa-linkedin:hover,
  #footer .widget-social .btn-linkedin:hover {
      background-color: #0b7bb5 !important;
  }

  .soc_sharing li .fa-pinterest:hover,
  #footer .widget-social .btn-pinterest:hover {
      background-color: #cb1f25 !important;
  }

  .soc_sharing li .fa-instagram:hover,
  #footer .widget-social .btn-instagram:hover {
      background-color: #3f6f94 !important;
  }

  .fa-google-plus:hover,
  .fa-vimeo:hover,
  .fa-behance:hover,
  .fa-twitter:hover,
  .fa-youtube:hover,
  .fa-dribbble:hover,
  .fa-facebook:hover,
  .fa-linkedin:hover,
  .fa-pinterest:hover,
  .fa-instagram:hover {
      color: #ffffff !important;
  }

  /*****************************************
  Blog Post CSS
  ******************************************/
  div#Blog1 {
      margin-right: 15px;
  }

  .article_post_title {
      margin: 0;
      text-decoration: none;
      font-family: Lato;
      text-transform: uppercase;
      letter-spacing: .9px;
      font-weight: 900;
      font-style: normal;
      font-size: 36px;
      padding: 0;
      margin-top: 0;
      margin-bottom: 20px;
      line-height: 1.4;
      color: #282828;
  }

  .post-body {
      word-wrap: break-word;
  }

  .post-body img{
      height: auto;
  }

  .post-footer {
      display: inline-block;
      margin-top: 25px;
      width: 100%;
  }

  .article_meta_container {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      margin-bottom: 20px;
  }

  .article_meta_container i {
      margin-right: 5px;
  }

  .article_meta_container a {
      color: #333;
  }

  .article_meta_container > span {
      margin-right: 15px;
  }

  .separator{
    clear: both;
    text-align: center;
    margin: 20px 0;
  }

  .tagcloud.badge {
      height: 30px;
      float: left;
      display: block;
      margin-right: 16px;
      margin-top: 8px;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
  }

  .tagcloud.badge {
      display: block;
      width: 100%;
      height: 30px;
  }

  .tagcloud.badge h5 {
      display: inline-block;
      margin-right: 10px;
  }

  .tagcloud a {
      display: inline-block!important;
      margin-right: 3px;
  }

  /*****************************************
  Post Highlighter CSS
  ******************************************/
  blockquote {
      border-color: #F1F4F9;
      border-style: solid;
      border-width: 1px 0;
      color: #888888;
      font-style: italic;
      margin: 10px 0 20px;
      padding: 15px 40px;
  }
  /*****************************************
  Sidebar CSS
  ******************************************/
  #sidebar {
      margin: 0;
      margin-left: 15px;
      padding: 0;
      display: block;
  }

  .sidebar h2 {
      font-family: lato;
      margin-bottom: 0;
      padding-bottom: 0;
      letter-spacing: 2px;
      position: relative;
      background: #FF3030;
      height: 38px;
      line-height: 38px;
      padding: 0px 20px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      display: table;
      margin: 0px auto;
      top: -21px;
  }

  .sidebar a {
      color: #333;
  }

  .sidebar .widget {
      border-radius: 1px;
      box-shadow: rgb(0, 0, 0) 1px 1px 10px -5px;
      -webkit-box-shadow: rgb(0, 0, 0) 1px 1px 10px -5px;
      background: url('/site/templates/img/sep.png') top repeat-x white;
      clear: both;
      font-size: 13px;
      line-height: 23px;
      margin-bottom: 60px;
      padding: 20px;
  }

  .sidebar ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }

  .sidebar li {
      border-bottom: 1px solid #F1f4f9;
      line-height: normal;
      list-style: none;
      margin: 8px 0;
      overflow: hidden;
      padding: 0 0 10px 10px;
  }
  /*****************************************
  Footer stylesheet
  ******************************************/
  div#footer {
      background: #282828;
      padding-top: 15px;
  }

  .footer {
      width: 29%;
      float: left;
      margin-right: 40px;
      margin-bottom: 30px;
  }

  .footer ul {
      margin: 0;
      padding: 0;
  }

  .footer li {
      list-style: none;
      padding: 5px 0;
  }

  .footer h2 {
      color: #FFF;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 2px;
      margin-bottom: 15px;
      position: relative;
  }

  .footer .widget {
      padding-bottom: .2em;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1.5;
      padding-top: 5px;
      color: #eee;
  }

  .footer_credits {
      color: #2D2D2D;
      background: white;
      display: block;
      font-size: 14px;
      line-height: 23px;
      margin: 0;
      padding: 20px 0 10px;
      text-align: center;
  }

  .footer a {
      color: #eee;
  }

  .footer_credits a {
      color: #555;
  }

  .footer_credits a:hover {
      color: #333;
  }

  .footer_social-icons {
      width: 100%;
      display: block;
      overflow: hidden;
      margin: 0px auto 0px;
      text-align: center;
  }

  .footer_social-icons ul {
      padding: 0px;
      margin: 0px;
      overflow: hidden;
      list-style: none;
      text-align: center;
      display: inline-block;
  }

  .footer_social-icons li {
      width: 40px;
      height: 40px;
      margin: 0px;
      margin-right: 10px;
      padding: 0px;
      padding: 0px;
      overflow: hidden;
      display: inline-block;
  }

  .footer_social-icons li a {
      width: 100%;
      height: 100%;
      display: block;
      overflow: hidden;
      color: rgb(255, 255, 255);
      line-height: 40px;
      background-color: #3B3B3B;
  }

  .footer_social-icons li a i{
    line-height: 40px;
  }

  /* Hover */
  .btn-gplus,
  #footer .widget-social .btn-gplus:hover {
      background-color: #d53824 !important;
  }

  .btn-vimeo,
  #footer .widget-social .btn-vimeo:hover {
      background-color: #4c8ab0 !important;
  }

  .btn-behance,
  #footer .widget-social .btn-behance:hover {
      background-color: #1769ff !important;
  }

  .btn-twitter,
  #footer .widget-social .btn-twitter:hover {
      background-color: #3bc1ed !important;
  }

  .btn-youtube,
  #footer .widget-social .btn-youtube:hover {
      background-color: #bf2f29 !important;
  }

  .btn-dribbble,
  #footer .widget-social .btn-dribbble:hover {
      background-color: #ef5a92 !important;
  }

  .btn-facebook,
  #footer .widget-social .btn-facebook:hover {
      background-color: #4a6d9d !important;
  }

  .btn-linkedin,
  #footer .widget-social .btn-linkedin:hover {
      background-color: #0b7bb5 !important;
  }

  .btn-pinterest,
  #footer .widget-social .btn-pinterest:hover {
      background-color: #cb1f25 !important;
  }

  .btn-instagram,
  #footer .widget-social .btn-instagram:hover {
      background-color: #3f6f94 !important;
  }

  .btn-gplus:hover,
  .btn-vimeo:hover,
  .btn-behance:hover,
  .btn-twitter:hover,
  .btn-youtube:hover,
  .btn-dribbble:hover,
  .btn-facebook:hover,
  .btn-linkedin:hover,
  .btn-pinterest:hover,
  .btn-instagram:hover {
      color: #ffffff !important;
  }

  /*****************************************
  Custom Widget CSS
  ******************************************/
  /***** Custom Labels *****/
  /* jag @ labels */
  .list-label-widget-content a{
      display: block;
  }

  .list-label-widget-content a:first-letter{
      text-transform: uppercase;
  }

  /***** Popular Post *****/
  .PopularPosts .item-thumbnail img,.featured_thumb img {
      display: block;
      float: left;
      height: 72px;
      width: 72px;
      border-radius: 50%;
      padding: 0;
      margin-right: 5px;
  }

  .PopularPosts .item-title, .item-details h3 {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1.5;
      height: 72px;
      display: table;
  }

  .PopularPosts .item-title .mostVisitedLink{
      display: table-cell;
      vertical-align: middle;
  }

  .item-snippet {
      display: none;
  }

  /***** Blogger Contact Form Widget *****/
  .contact-form-email, .contact-form-name, .contact-form-email-message, .contact-form-email:hover, .contact-form-name:hover, .contact-form-email-message:hover, .contact-form-email:focus, .contact-form-name:focus, .contact-form-email-message:focus {
      background: #F8F8F8;
      border: 1px solid #D2DADD;
      box-shadow: 0 1px 1px #F3F4F6 inset;
      max-width: 300px;
      color: #999;
  }

  .contact-form-button-submit {
      background: #FF3030;
      border: medium none;
      float: right;
      height: auto;
      margin: 10px 0 0;
      max-width: 220px;
      padding: 5px 10px;
      width: 100%;
      cursor: pointer;
      float: left;
  }

  .contact-form-button-submit:hover {
      background: #078980;
      border: none;
  }

  .footer .contact-form-name,
  .footer .contact-form-name:hover,
  .footer .contact-form-email,
  .footer .contact-form-email:hover,
  .footer .contact-form-email-message,
  .footer .contact-form-email-message:hover {
      background: #363636;
      border: 0;
      box-shadow: none;
      outline: 0;
      margin-bottom: 15px;
  }

  .footer .contact-form-button,
  .footer .contact-form-button:hover {
      background: #FF3030;
      outline: none;
  }

  /***** Profile Widget CSS *****/
  /***** Meet The Author *****/
  .authorboxwrap,.footer_tags {
      margin: 0 0 20px 0;
  }

  .authorboxwrap {
      display: inline-block;
      width: 100%;
  }

  .avatar-container {
      float: left;
      margin-right: 4%;
      margin-bottom: 25px;
      float: left;
      max-width: 150px;
      text-align: center;
  }

  .avatar-container img{
    height: auto;
  }

  .avatar-container h4 a {
      color: #222;
      font-weight: normal;
      letter-spacing: 1.5px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 900;
  }

  img.author_avatar {
      border-radius: 50%;
      width: 140px;
      border: 10px solid #f5f5f5;
      box-shadow: 1px -2px 15px -8px #000;
  }

  .author_description_container {
      float: left;
      margin-left: 25px;
      margin-bottom: 25px;
      margin-top: 10px;
      width: 74%;
      padding: 10px 30px;
      background: #DBDBDB;
      position: relative;
      box-shadow: -3px 3px 13px -10px #000;
  }

  .author_description_container:before {
      content: "";
      position: absolute;
      border-style: solid;
      border-color: transparent;
      border-top-color: #DBDBDB;
      border-width: 20px 0px 0px 35px;
      left: -33px;
      top: 0;
  }

  .author_description_container p {
      font-size: 14px;
      line-height: 1.6;
      letter-spacing: 0;
      padding: 0px;
  }

  .authorsocial {
      margin: 10px 0 0;
  }

  .authorsocial a {
      display: inline-block;
      width: 25px;
      height: 25px;
      text-align: center;
      font-size: 14px;
      color: #FFF;
      position: relative;
      margin-right: 2px;
      background: #FF3030;
      padding: 1px 0;
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
  }
  .authorsocial a i{
    line-height: 25px;
  }

  /* SEARCH */
  .status-msg-wrap{
 	font-size:110%;
 	width:90%;
 	margin:10px auto;
 	position:relative
 }

 .status-msg-border{
 	border:1px solid #000;
 	filter:alpha(opacity=40);
 	-moz-opacity:.4;
 	opacity:.4;
 	width:100%;
 	position:relative
 }

 .status-msg-bg{
 	background-color:#ccc;
 	opacity:.8;
 	filter:alpha(opacity=30);
 	-moz-opacity:.8;
 	width:100%;
 	position:relative;
 	z-index:1
 }

 .status-msg-body{
 	text-align:center;
 	padding:.3em 0;
 	width:100%;
 	position:absolute;
 	z-index:4
 }

 .status-msg-hidden{
 	visibility:hidden;
 	padding:.3em 0
 }

 .status-msg-wrap a{
 	padding-left:.4em;
 	text-decoration:underline
 }

  /*****************************************
  Pagination
  ******************************************/
  .MarkupPagerNav {
          clear: both;
          margin: 1em 0;
          font-family: Arial, sans-serif;
  }
  .MarkupPagerNav li {
  	display: inline;
  	list-style: none;
  	margin: 0;
  }

  .MarkupPagerNav li a,
  .MarkupPagerNav li.MarkupPagerNavSeparator {
  	display: block;
  	float: left;
  	padding: 2px 9px;
  	color: #fff;
  	background: #FF3030;
  	margin-right: 15px;
  	font-size: 18px;
  	text-transform: uppercase;
      border-radius: 3px;
  }

  .MarkupPagerNav li.MarkupPagerNavOn a,
  .MarkupPagerNav li a:hover {
  	color: #fff;
  	background: #282828;
  	text-decoration: none;
  }

  .MarkupPagerNav li.MarkupPagerNavSeparator {
  	display: inline;
  	color: #777;
  	background: #d2e4ea;
  	padding-left: 3px;
  	padding-right: 3px;
  }
  /* post navigation */
  #blog-pager {
      display: inline-block;
      margin: 1px 0;
      overflow: visible;
      /*padding: 30px 0;*/
      width: 100%;
  }

  .showpageOf, .home-link {
      display: none;
  }

  .showpagePoint {
      background: #333;
      color: #FFFFFF;
      margin: 0 10px 0 0;
      padding: 5px 10px;
      text-decoration: none;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -webkit-border-radius: 3px;
  }

  .showpage a, .showpageNum a {
      background: #FF3030;
      color: #FFFFFF;
      margin: 0 10px 0 0;
      padding: 5px 10px;
      text-decoration: none;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -webkit-border-radius: 3px;
  }

  .showpage a:hover, .showpageNum a:hover {
      background: #FF3030;
      color: #fff;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -o-border-radius: 3px;
      -webkit-border-radius: 3px;
      text-decoration: none;
  }

  #blog-pager-newer-link {
      padding: 20px 0%;
      position: relative;
      text-align: left;
      width: 45%;
  }

  #blog-pager-older-link {
      padding: 20px 2%;
      position: relative;
      text-align: right;
      width: 45%;
  }

  #blog-pager-newer-link .newer-text, #blog-pager-older-link .older-text {
      display: block;
      color: #999;
  }

  a#Blog1_blog-pager-older-link, a#Blog1_blog-pager-newer-link {
      text-transform: uppercase;
      font-weight: bold;
      background: none;
      border-width: 2px !important;
      border-style: solid !important;
      border-color: #FF3030;
  background-color: #FF3030;
      color: white;
      cursor: pointer;
      display: inline-block;
      line-height: 1;
      padding: 12px 14px;
      position: relative;
      text-decoration: none;
      font-size: 12px;
      -moz-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
  }

  /* FONTS */
  /*@font-face {
      font-family: "Icomoon";
      font-style: normal;
      font-weight: normal;
      src: url("../fonts/icomoon.woff");
  }*/

  /*****************************************
  Goodreads widget on sidebar
  ******************************************/

  /*****************************************
  PRE FORMAT
  ******************************************/

  code, samp, kbd {
  	font-family: "Courier New", Courier, monospace, sans-serif;
  	text-align: left;
  	color: #555;
  	}
  pre code {
  	line-height: 1.6em;
  	font-size: 11px;
  	}
  pre {
  	/*padding: 0.1em 0.5em 0.3em 0.7em;*/
    width: 100%;
  	border-left: 11px solid #ccc;
  	margin: 1.7em 0 1.7em 0.3em;
  	overflow: auto;
  	width: 93%;
    background-color: #dedede;
    font-family: consolas;
  	}
  /* target IE7 and IE6 */
  *:first-child+html pre {
  	padding-bottom: 2em;
  	overflow-y: hidden;
  	overflow: visible;
  	overflow-x: auto;
  	}
  * html pre {
  	padding-bottom: 2em;
  	overflow: visible;
  	overflow-x: auto;
  	}



  /*****************************************
  Responsive styles
  ******************************************/
  @media screen and (max-width: 960px) {
      .ct-wrapper {
          padding: 0;
      }

      .main-wrapper {
          margin-right: 0;
          width: 100%;
      }

      .sidebar-wrapper {
          float: left;
          width: auto;
          margin-top: 30px;
      }

      .author_description_container{
          width: 100%;
      }
  }

  @media screen and (max-width: 800px) {
      .header_social {
          padding-right: 0;
          position: fixed;
          top: 40px;
          width: 30px;
          right: 0px;
          z-index: 10;
      }

      .header_social a {
          background: #FF3030;
          display: block;
          margin-top: 3px;
          color: white;
      }

      #comment-editor {
          margin: 10px;
      }

      .mobile-link {
          display: inline-block;
      }

      div.nav-menu ul {
          display: none;
      }

      div.nav-menu ul {
          width: 220px;
          position: absolute;
          background: white;
          z-index: 1000;
          text-align: left;
          box-shadow: 2px 2px 15px -5px #000;
          border-top: 1px solid #eaeaea;
          border-left: 1px solid #eaeaea;
      }

      div.nav-menu ul li {
          display: block;
      }

      div.nav-menu ul li a {
          padding: 15px 20px;
      }

      .nav-menu li a:before,.nav-menu li a.current:before ,.nav-menu li a:hover:before,.nav-menu li a.current:before {
          display: none;
          content: '';
          background: transparent;
          color: transparent;
      }

      .sidebar h2 {
          top: -21px;
      }

      .footer {
          width: 42%;
      }

      .author_description_container{
          width: 100%;
      }
  }

  @media screen and (max-width: 500px) {
      .main-wrapper{
          width: 100%;
      }

      .article_summary{
        padding: 30px 30px 30px;
      }

      .sidebar-wrapper{
          display: none;
      }
  }


  @media screen and (max-width: 420px) {
      .author_description_container{
          width: 100%;
      }

  }

  @media screen and (max-width: 320px) {
      .ct-wrapper {
          padding: 0;
      }

      .post-body img {
          max-width: 230px;
      }

      .comments .comments-content .comment-replies {
          margin-left: 0;
      }

      .author_description_container{
          width: 100%;
      }
  }

  /*test menu*/
  .pure-menu-link{
    color: white;
    font-family: lato;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
  }
  /*
  .pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus{
    background-color: #FF3030;
  }*/

  .social_menu_entry{
    line-height: 34px;
  }

  .social_menu_entry a{
    color: white;
  }

  .custom-wrapper {
    /*background-color: #ffd390;*/
    /*margin-bottom: 1em;*/
    -webkit-font-smoothing: antialiased;
    height: 2em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: auto;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 1079px) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

    li.flag{
      display: none;
    }

    .social_menu_entry{
      display: none;
    }

    #searchform{
      margin-left: 17px;
    }

    .main_menu{
      width: 100%;
    }
/*
    input#go, span.nt.fa-search{
      left: 0;
    }

    .nt-search-input-wrap{
      position: relative;
    }*/
}
